SUPERNOTE_HTTP_PORT=19072
SUPERNOTE_FUNNEL_PROXY_PORT=19073
SUPERNOTE_NOTE_DIR=./supernote_data/account/Supernote/Note
OBSIDIAN_VAULT_DIR=/path/to/Obsidian/Notes
SUPERNOTE_COPY_INTERVAL=300
TZ=America/New_York
